<!DOCTYPE html>
<html>
<head>
    <title>Listado de Películas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Películas Disponibles</h1>
         <!-- Lista no ordenada de películas -->
        <ul>
                 <!-- Itera sobre la lista pasada desde Flask -->
            {% for pelicula in peliculas %}
                <li>{{ pelicula }}</li> <!-- Muestra cada película -->
            {% endfor %}
        </ul>
        <a href="/"><button>Volver al Inicio</button></a>
    </div>
</body>
</html>