<!DOCTYPE html>
<html>
<head>
    <title>Trivia de Películas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Trivia de Películas</h1>
        <form action="/iniciar" method="post">
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <input type="number" name="num_frases" min="3" placeholder="Número de frases" required>
            <button type="submit">Iniciar Juego</button>
        </form>
        <a href="/peliculas"><button>Ver Películas</button></a>
        <a href="/resultados"><button>Resultados Históricos</button></a>
    </div>
</body>
</html>